<%- model_class = Link -%>
<div class="page-header">
  <h1> Top Accessed Links</h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:url) %></th>
    <th><%= model_class.human_attribute_name(:short_url) %></th>
    <th><%= model_class.human_attribute_name(:hits) %></th>
  </tr>
  </thead>
  <tbody>
  <% @links.each do |link| %>
      <tr>
        <td><%=  link_to(link.url, link.url, target: "_blank")%></td>
        <td><%= link_to(link.display_slug, link.display_slug, target: "_blank") %></td>
        <td><%= link.hits %></td>
      </tr>
  <% end %>
  </tbody>
  <%= will_paginate @links %>
</table>

<%= link_to 'Go back',
            new_link_path,
            :class => 'btn' %>
