<%- model_class = Link -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:url) %></th>
    <th><%= model_class.human_attribute_name(:short_url) %></th>
    <th><%= model_class.human_attribute_name(:hits) %></th>
  </tr>
  </thead>
  <tbody>
  <% @links.each do |link| %>
      <tr>
        <td><%= link.url %></td>
        <td><%= link.display_slug %></td>
        <td><%= link.hits %></td>
      </tr>
  <% end %>
  </tbody>
  <%= will_paginate @links %>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_link_path,
            :class => 'btn btn-primary' %>

